<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div ng-controller="GridPageController as gridCtrl"  ng-cloak>

    <div data-ng-repeat="photo in gridCtrl.photos" align="center" class="photo-div">
        <md-card>
            <img ng-src="{{photo.urls.regular}}" class="md-card-image" alt="Washed Out">
            <md-card-actions layout="row" layout-align="end center">
                <img ng-src="{{photo.user.profile_image.medium}}" class="md-avatar user-avatar" />
                <md-button class="md-icon-button" aria-label="Favorite">
                    <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Share">
                    <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>

</div>
</body>
</html>