<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div ng-controller="GridPageController as gridCtrl"  ng-cloak scroll-bottom="gridCtrl.loadMorePhotos()">

    <div layout="row" class="filter-div" layout-align="end center">
        <md-input-container  class="select-filter">
            <label>Order</label>
            <md-select ng-model="gridCtrl.params.order_by" ng-change="gridCtrl.changeOrder()">
                <md-option value="latest"><em>Latest</em></md-option>
                <md-option value="popular"><em>Popular</em></md-option>
                <md-option value="oldest"><em>Oldest</em></md-option>
            </md-select>
        </md-input-container>
    </div>

    <div data-ng-repeat="photo in gridCtrl.photos" align="center" class="photo-div">
        <md-card>
            <md-card-actions layout="row" layout-align="begin center">
                <img ng-src="{{photo.user.profile_image.medium}}" class="md-avatar user-avatar" />
                <h4 class="user-name"><a  class="md-title" target="_blank" ng-href="{{photo.user.portfolio_url}}">{{photo.user.name}}</a></h4>
            </md-card-actions>
            <img ng-src="{{photo.urls.regular}}" class="md-card-image" alt="Washed Out">
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button md-accent" aria-label="Favorite">
                    <i class="material-icons">favorite</i>
                </md-button>
                <label class="md-title">{{photo.likes}}</label>
                <md-button class="md-icon-button md-primary" target="_blank" download ng-href="{{photo.links.download}}" aria-label="Settings">
                    <i class="material-icons">cloud_download</i>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>

</div>
</body>
</html>